@charset "utf-8";

html, *{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size:16px;
    line-height: 1.6;
    font-family: "Noto Serif JP",  serif;
    font-weight: 300;
    color: #707070;
}

img {
    max-width: 100%;
    height: auto;
}

/* <header>開始 */

header {
    position: relative;
    height: 1080px;
    top: 0;
}

.site-icon{
    width: 40%;
    height: 113.38px;
    position: relative;
    margin-top: 63.26px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.site-icon img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.main-visual {
    width: 100vw;
    max-width: 1500px;
    height: calc(100vw * (843 / 1500));
    max-height: 843px;
    position: absolute;
    top: 176.64px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10; /* 必要に応じてz-indexを指定 */
}

.main-visual img {
    width: 100%;
    height: auto;
    display: block;
}

/* ＜main＞開始 */

.article {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    width: 100%;
    height: auto;
    position: relative;
}

.content-wrapper {
    width: 80%;
    max-width: 1500px;
    text-align: left;
    margin: 0 auto;
}

.content-wrapper h2 {
    width: 80%;
    max-width: 1500px;
    font-size: 35px;
    letter-spacing: 0.2em;
    line-height: 1.45;
    margin-left: auto;
}

.content-wrapper p {
    width: 94%;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    margin-bottom: 124px;
    letter-spacing: 0.2em;
    line-height: 45px;
}

.custom-divider {
    position: relative;
    border: none;
    width: 1500px;
    height: 37px;
    background-image: url('img/divider-line.png');
    background-repeat: repeat-x;
    background-size: contain;
    margin-top: 53px;
    margin-bottom: 124px;
}

.custom-divider::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 41px;
    height: 37px;
    background-image: url('img/endof_divider.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.contact {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    width: 100%;
    padding: 10px;
}

.contact-items {
    margin: 5px;
}

footer p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

@media (max-width: 430px) {
    header {
        height: auto;
    }

    .site-icon {
        width: 80%;
        height: 50px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        margin-bottom: 20px;
    }

    .site-icon img {
        width: 100%;
        top: 0;
        left: 0;
        transform: none;
    }

    .main-visual {
        width: 100%;
        height: auto;
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        max-width: none;
        max-height: none;
        overflow: hidden;
    }

    .main-visual img {
        width: 100%;
        height: auto;
    }
}

