@charset "utf-8";

html, *{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size:16px;
    line-height: 1.6;
    font-family: "Noto Serif JP",  serif;
    font-weight: 300;
    color: #707070;
}

img {
    max-width: 100%;
    height: auto;
}

/* <header>開始 */

header {
    position: relative;
    height: 1080px;
    top: 0;
}

.site-icon{
    width: 40%;
    height: 113.38px;
    position: relative;
    margin-top: 63.26px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.site-icon img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.main-visual {
    width: 100vw;
    max-width: 1500px;
    height: calc(100vw * (843 / 1500));
    max-height: 843px;
    position: absolute;
    top: 176.64px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10; /* 必要に応じてz-indexを指定 */
}

.main-visual img {
    width: 100%;
    height: auto;
    display: block;
}

/* ＜main＞開始 */

.article {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    width: 100%;
    height: auto;
    position: relative;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 80%;
    max-width: 1500px;
    text-align: left;
    margin: 0 auto;
    position: relative;
}

.content-wrapper h2 {
    width: 80%;
    max-width: 1500px;
    font-size: 35px;
    letter-spacing: 0.2em;
    line-height: 1.45;
    margin-left: auto;
    margin-bottom: 53px;
}

.caption-title2 {
    margin-bottom: 112px;
}

.content-wrapper p {
    width: 98%;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    margin-bottom: 124px;
    letter-spacing: 0.2em;
    line-height: 45px;
}

.custom-divider {
    position: relative;
    border: none;
    width: 100%;
    max-width: 1500px;
    height: 37px;
    background-image: url('img/divider-line.png');
    background-repeat: repeat-x;
    background-size: contain;
    margin-bottom: 124px;
}

.custom-divider::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 41px;
    height: 37px;
    background-image: url('img/endof_divider.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.button-container {
    margin-bottom: 71px;
    text-align: center;
    max-width: 300px;
    width: 100%;
    margin-left: auto;
    margin-right: 0;
}

.narrow-btn {
    position: relative;    /*矢印と下線の基点とするためrelativeを指定*/
    display: block;     /*形状*/
    padding: 0 20px;
    color: #707070;
    text-decoration: none;
    outline: none;
    font-size: 21px;
    line-height: 30px;
}

.narrow-btn::before {    /*矢印と下線の形状*/
    content: '';
    position: absolute;
    bottom: -8px;
    right: 0;
    width: 300px;      /*下線の形状*/    
    height: 0.2px;
    background: #707070;
}

.narrow-btn::after {
    content: '';
    position: absolute;
    bottom: -3px;
    right: 0;
    width: 15px;         /*矢印の形状*/    
    height: 0.2px;
    background: #707070;
    transform: rotate(35deg);
}

.narrow-btn:hover {
    color: #a87255;
    transition: all 0.3s ease;
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.narrow-btn:hover::before {
    background: #a87255;
    height: 2px;
}

.barrow-btn:hover::after {
    background: #a87255;
    height: 2px;
}

.image-container {
    width: 100%;
    max-width: 1500px;
    margin-bottom: 194px;
}

.responsive-image {
    width: 100%;
    height: auto;
    max-width: 1500px;
    margin: auto;
}

.contact {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    width: 100%;
    padding: 10px;
}

.contact-text {
    font-size: 35px;
    margin-bottom: 142px;
    letter-spacing: 0.2em; 
    line-height: 1.59;
}

.contact-btn {
    width: 450px;
    height: 100px;
    background-color: #595959;
    border-radius: 15px;
    color: white;
    font-size: 32px;
    letter-spacing: 0.2em;
    line-height: 45px;
    margin-bottom: 29px;
}

.contact-btn:hover {
    background-color: #7c7c7c;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transform: translateY(-2px);
}

.contact-mail {
    font-size: 25px;
    letter-spacing: 0.2em;
    line-height: 45px;
}

.contact-person {
    font-size: 25px;
    letter-spacing: 0.2em;
    line-height: 45px;
    margin-bottom: 128px;
}

footer {
    background-image: url('img/footer_background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 198.33px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

footer p {
    font-size: 14px;
    letter-spacing: 0.2em;
    line-height: 45px;
    position: absolute;
    bottom: 40px;
}

@media (max-width: 430px) {
    header {
        height: auto;
    }

    .site-icon {
        width: 80%;
        height: 50px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        margin-bottom: 20px;
    }

    .site-icon img {
        width: 100%;
        top: 0;
        left: 0;
        transform: none;
    }

    .main-visual {
        width: 100%;
        height: auto;
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        max-width: none;
        max-height: none;
        overflow: hidden;
    }

    .main-visual img {
        width: 100%;
        height: auto;
    }
}

